#equickment {
  color: white;
  font-size: 60px;
  padding-top: 100px;
  font-family: 'Pragati Narrow', sans-serif;
  font-weight: 550;
}

#header {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 15px;
  color: white;
  font-family: 'Nunito', sans-serif;
}

.btn {
  border-radius: 10%;
  background-color: #ff5722;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;

}


.banner {
  background-image: url('https://images.unsplash.com/photo-1528094449071-cd2b666e0737?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80');
  width: 100%;
  height: 100vh;
  background-position: center;
  opacity: 0.9;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 350px;
  height: 350px;
  margin-top: 60px;
  border: none;
  border-radius: 15px;
  font-family: 'Nunito', sans-serif;
  box-shadow: 0 1px 3px rgba(0,0,0,0.04), 0 1px 2px rgba(0,0,0,0.06);
}

.card-title {
  margin-top: 5px;
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 25px;
}

.card-text {
  color: grey;
}
