#equickment {
  color: white;
  font-size: 60px;
  padding-top: 100px;
  font-family: 'Pragati Narrow', sans-serif;
  font-weight: 550;
}

#header {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 15px;
  color: white;
  font-family: 'Nunito', sans-serif;
  text-shadow: 2px 2px 5px black;
}

.btn {
  border-radius: 10%;
  background-color: #ff5722;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}


.banner {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1528094449071-cd2b666e0737?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80');
  width: 100%;
  height: 75vh;
  background-position: 50% 75%;
  opacity: 0.9;
  margin-top: 50px;
}

// .flex-container {
//   display: flex;
//   justify-content: space-around;

// }

.card {
  width: 100%;
  padding: 0px;
  margin: 10px;
  height: 350px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: none;
  border-radius: 15px;
  font-family: 'Nunito', sans-serif;
  box-shadow: 0 1px 3px rgba(0,0,0,0.04), 0 1px 2px rgba(0,0,0,0.06);
}


.card-title {
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 25px;
  color: black;
}

.card-text {
  color: grey;
}


#card-container {
  padding: 0px;
  margin-bottom: 60px;
}

#card-container a {
  text-decoration: none;
}
