.header-package-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-package {
  color: grey;
}


.add-package:hover {
  text-decoration: none;
  color: #E55338;
}

.map-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
