#carouselExampleControls img {
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 20px;
}

.package-header {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.category-tags {
  background-color: $blueish;
}

.rounded-10 {
  border-radius: 8px;
}
