<div class="banner text-center">
  <div id="equickment">EQUICKMENT</div>
  <p id="header" class="text-center">Rent your equipment quickly for every ocassion</p>
  <button class="btn">See All Offers</button>
</div>

<div class="container-1 text-center">
  <div class="header1">Top Offers</div>
</div>


