.card-product {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  position: relative;
  color: black;
}

.product-card {
  color: black;
}

.product-card:hover {
  position: relative;
  top: -6px;
  text-decoration: none;
  color: black;
}

.card-img {
  height: 100%;
  width: 150px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.package-list {
  padding-left: 30px;
}

.package-list h1 {
  margin-bottom: 20px;
}

.price-tag {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
