.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  flex-grow: 1;
}

.dropdown-toggle {
  margin-left: 15px;
}

.nav-item .btn {
  margin-left: 25px;

}

#query.form-control {
  border-radius: 5px;
}

.navbar {
  margin-top: 20px;
}


